.dashboard {
  position: relative;
  margin-top: 25rem;
  margin-bottom: 7rem;
  gap: 0.5rem;
}

@include media("<=1023px") {
  .dashboard {
    margin-top: 5rem;
  }
}

@include media("<=850px") {
  .dashboard {
    flex-direction: column;
  }
}
