.btn {
  border-radius: 100px;
  transition: $transition;
  font-size: 1rem;
  &--white {
    color: $main-black;
    background: $white;

    width: 122px;
    height: 47px;
    &:hover {
      border: 1px solid $white;
      color: $white;
      background: none;
    }
  }
  &--pink {
    color: $white;
    background: $pink;
    width: 234px;
    height: 72px;

    &:hover {
      border: 1px solid $pink;
      color: pink;
      background: none;
    }
  }
  &--black {
    color: $white;
    background: $main-black;
    width: 189px;
    height: 47px;

    &:hover {
      color: $black;
      background: $transparent;
      border: 1px solid $main-black;
    }
  }
  &--transparent {
    color: $black;
    background: $transparent;
    width: 88px;
    height: 47px;
    border: 1px solid $main-black;
    margin-right: 1rem;
    &:hover {
      color: $white;
      background: $main-black;
    }
  }
}
