.nav-header {
  background: $main-background;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 9;

  li > a {
    color: $black;
    font-weight: 500;
    position: relative;
  }
  .navbar {
    &--links {
      margin-left: 2rem;
      gap: 1rem;
      li > a {
        &:hover {
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background: $main-black;
            top: 25px;
            left: 0;
          }
        }
      }
    }
  }
}

.sticky-header {
  box-shadow: 8px 10px 12px rgb(195 195 210 / 20%);
}

@include media(">860px") {
  .navbar--toggle {
    display: none;
  }
  .phone-nav {
    display: none;
  }
}

@include media("<=860px") {
  .navbar--links,
  .navbar--buttons {
    display: none;
  }
  .phone-nav {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 8px 10px 12px rgb(195 195 210 / 20%);
    background: #f2f5fa;
    padding: 1.5rem;
    ul {
      flex-direction: column;
      margin-top: 3rem;
      li {
        margin-bottom: 1.5rem;
      }
    }
    .btn--transparent {
      width: 189px;
      margin-bottom: 1rem;
      margin-right: 0;
    }
    &--close {
      position: absolute;
      right: 1.5rem;
      top: 1.2rem;
      transition: $transition;
      &:hover {
        transform: rotate(180deg);
      }
    }
  }
}
